@font-face {
  font-family: "FactionBlack";
  src: local("FactionBlack"),
    url(./fonts/FactionBlack-Personal.otf) format("otf");
}
@font-face {
  font-family: "FactionOutline-Personal";
  src: local("FactionOutline-Personal"),
    url(./fonts/FactionOutline-Personal.otf) format("otf");
}

body {
  margin: 0;
  font-family: "FactionBlack-Personal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "FactionBlack-Personal";
}
